
button {
    font-size: 1.4em;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

th {
    font-size: 1.2em;
}

.score {
    font-size: 1.8em;
}

.monster {
    height: 200px;
    width: 200px;
}